In [13]:
import numpy as np

# print with spacing

In [14]:
print("superman is a famous comic","\n" "maggie is favorite for all")

superman is a famous comic
maggie is favorite for all

In [15]:
import random
l = [random.randint(1,10) for i in range(20)]
print(l)

[5, 6, 2, 7, 5, 9, 2, 9, 2, 4, 3, 2, 1, 3, 10, 8, 4, 4, 5, 9]

# random

In [16]:
# find random no. 1 to 30 with 20 limit

import random
q = [random.randint(1,30) for i in range(20)]
print(q)

[5, 12, 4, 18, 21, 28, 17, 7, 27, 28, 23, 19, 25, 10, 30, 20, 13, 2, 10, 8]

# methods

# sort

In [17]:
l = [1,5,4,44,12]

In [18]:
l.sort()    # soting elements.
print(l)

[1, 4, 5, 12, 44]

# append

In [19]:
l.append(55)    # it will add in the end but one time.
print(l)

[1, 4, 5, 12, 44, 55]

# insert

In [20]:
# the insert method is used for the adding no. on the definite index.

l.insert(9,60)

print(l)

[1, 4, 5, 12, 44, 55, 60]

# count

In [21]:
l.count(55)   # so, we do count of particular element.

1

# copy

In [22]:
a = l.copy()    # copy method is basically used to copy or store elements in another variable.
a

[1, 4, 5, 12, 44, 55, 60]

# remove

In [23]:
a

[1, 4, 5, 12, 44, 55, 60]

In [24]:
a.remove(2)     # so, it will remove the element directly and it is not based on index.
print(a)

ValueError: list.remove(x): x not in list

In [25]:
a.remove(55)   # it will remove one by one but you need to execute again and again
print(a)

[1, 4, 5, 12, 44, 60]

# pop

In [26]:
a

[1, 4, 5, 12, 44, 60]

In [27]:
a.pop(0)   # so, it is based on the index.

1

In [28]:
print(a)    #  it will remove the element but we need to define index.

[4, 5, 12, 44, 60]

# reverse

In [29]:
a

[4, 5, 12, 44, 60]

In [30]:
a.sort()    # using sort method to manage in the right way. like in asc in order.
print(a)

[4, 5, 12, 44, 60]

In [31]:
a.reverse()      3# the reverse method is basically we use for reverse the elemnets.
print(a)

SyntaxError: invalid syntax (<ipython-input-31-348d9132379d>, line 1)

# clear

In [32]:
l

[1, 4, 5, 12, 44, 55, 60]

In [33]:
l.clear()     # clear we basically use for to clear all the elments inthe list.
print(l)

[]

# extend

In [34]:
a

[4, 5, 12, 44, 60]

In [35]:
a.extend([2,3,2])
print(a)

[4, 5, 12, 44, 60, 2, 3, 2]

In [36]:
a.extend([100])    # it will extend the element in the list but in the last.

In [37]:
print(a)

[4, 5, 12, 44, 60, 2, 3, 2, 100]

# checking type of variable

In [38]:
a

[4, 5, 12, 44, 60, 2, 3, 2, 100]

In [39]:
print(type(a))

<class 'list'>

# dictionary with pop itemm

In [40]:
dict = {"name":"abhi","class":"10th"}
print(dict)

{'name': 'abhi', 'class': '10th'}

In [41]:
dict.popitem()     # popitem is basically we use to pop the last item or remove the last item.

('class', '10th')

In [42]:
dict

{'name': 'abhi'}

# methods in key and values in dictionary

In [43]:
dict.keys()    # so it will find the key name or starting name.

dict_keys(['name'])

In [44]:
dict.values()   # so, it will give the value.

dict_values(['abhi'])

# get method in dictionary

In [45]:
dict.get("abhi")
print(dict)

{'name': 'abhi'}

# accessing a tuple , list

In [46]:
j = 1,4,7,6,0,3,5,7    # tuple

In [47]:
j[0]    # so, i am here accessing a tuple by setting index no..

1

In [49]:
j[2]    # setting index no. 2

7

In [50]:
k = [4,5,6,7,8]      # list

In [51]:
k[0]      # finding 0th index.

4

In [55]:
m = {"s_no":1,"name":"raj"}    # so in deictionary we can not access like the list, and tuple

In [57]:
m[1]

KeyError: 1

In [58]:
n = {1,2,3,4,5}      # set., in set also i have tried to find index. but not get the result

In [60]:
n[1]

TypeError: 'set' object is not subscriptable

# random method, zip

#### Q1

In [62]:
import random    # libraray of rendom

student = ["ram","shyam","raju","monu","sonu"]
marks = [random.randint(25,100) for i in range(len(student))]     # here i ahv e set the limit 
                                                            # according to the student length

In [65]:
print("student \n", student)
print("marks \n", marks)

student
 ['ram', 'shyam', 'raju', 'monu', 'sonu']
marks
 [75, 69, 41, 29, 35]

In [66]:
list(zip(student,marks))         # making zip with the help of list.

[('ram', 75), ('shyam', 69), ('raju', 41), ('monu', 29), ('sonu', 35)]

In [71]:
d = {}                                # i want the student and marks in dictionary.
for i, j in zip(student, marks):      # that's why i have applied zip method also.
    d[i] = j

In [72]:
d   # output is here.

{'ram': 75, 'shyam': 69, 'raju': 41, 'monu': 29, 'sonu': 35}

#### Q2

In [73]:
import random

emp = ["raj","riya kapoor","sanju","kumkum","shanu"]
salary = [random.randint(5000,10000) for i in range(len(emp))]

In [75]:
print("employment name \n", emp)
print("salary \n", salary)

employment name
 ['raj', 'riya kapoor', 'sanju', 'kumkum', 'shanu']
salary
 [6257, 9398, 5765, 7443, 5977]

In [76]:
list(zip(emp, salary))

[('raj', 6257),
 ('riya kapoor', 9398),
 ('sanju', 5765),
 ('kumkum', 7443),
 ('shanu', 5977)]

In [79]:
f = {}
for i, j in zip(emp, salary):
    f[i] = j

In [80]:
f

{'raj': 6257,
 'riya kapoor': 9398,
 'sanju': 5765,
 'kumkum': 7443,
 'shanu': 5977}

# difference method

In [97]:
d = {1,2,3,4,5,6,7,8}
s = {4,5,6,7,8}

In [98]:
d.difference(s)   # 123 is not there that's why it is showing.

{1, 2, 3}

In [99]:
s.difference(d)    # when i put s.differnce then every elements are there in d but it shows set. 
                   # means, it will show set because every elements are there.

set()

# update method

In [91]:
d.difference_update(s)    # the update method we can see the result below

In [92]:
d    # it is going to split in 1 to 8 in d and s

{1, 2, 3}

In [93]:
s

{4, 5, 6, 7, 8}

In [100]:
s.difference_update(d)    # when i did find s.difference_upadte in "d" then

In [101]:
d                        # it gives only d elements esetise.

{1, 2, 3, 4, 5, 6, 7, 8}

In [102]:
s                       # but in s it give only set or nothing.

set()