In [1]:
import numpy as np

In [14]:
# so, i am creating set here

s = {0,1,2,3,4,5,6,7,8,9}
v = {11,21,1,2,3,4,5}

In [15]:
print(type(s))   # checking the type it is set.
print(type(v))

<class 'set'>
<class 'set'>

# symmetric_difference

In [16]:
s.symmetric_difference(v)    # so, the symmetric difference is which is not present in it.
                             # then we call this is symmetric_difference.

{0, 6, 7, 8, 9, 11, 21}

In [17]:
v.symmetric_difference(s)     # it is same there is no change.

{0, 6, 7, 8, 9, 11, 21}

# union

In [18]:
print("S elemnts of set: " ,s)
print("V elements of set: " ,v)

S elemnts of set:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
V elements of set:  {1, 2, 3, 4, 5, 11, 21}

In [19]:
s.union(v)    # so it will give all the element which may be repeted one.

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 21}

# intersection

In [20]:
s.intersection(v)   # so, intersection which give only unique elements,
                    # which can not repeted

{1, 2, 3, 4, 5}

# add

In [21]:
v.add("python")

In [22]:
v   # here is the result. python is added here.

{1, 11, 2, 21, 3, 4, 5, 'python'}

# update

In [23]:
v.update("abhi","bhambak")     # so, it update the set

In [24]:
v

{1, 11, 2, 21, 3, 4, 5, 'a', 'b', 'h', 'i', 'k', 'm', 'python'}

In [25]:
v.update(["abhi","bhambak"])

In [26]:
v     # but it is giving me differently but update command is right here. 
      #because it is creating set of some word.

{1,
 11,
 2,
 21,
 3,
 4,
 5,
 'a',
 'abhi',
 'b',
 'bhambak',
 'h',
 'i',
 'k',
 'm',
 'python'}

# string with checking char

In [27]:
# here checking the length of s and v. 

len_s = len(s)
len_v = len(v)

print(f"length of s: {len_s}\n length of v: {len_v} ")

length of s: 10
 length of v: 16

# if condition with string and print command

In [28]:
if len_s > len_v:                 # here it is not giving any result. it doesn't satisfy condition
    print("s is greater than v")

In [29]:
if len_v > len_s:                     # but here it is giving result because it satisfy condition.
    print("s is greater than v")

s is greater than v

# elif with input

##### Q1

In [32]:
# so creating a short programme or making condition of if and elif.

q = input()
w = input()

if len(q) > len(w):                             # so, making length and checking it also.
    prin(f"length of {q} is graeter than {w}")
elif len(q) < len(w):
    print(f"length of {q} is lesser than {w}")

ram
shyam
length of ram is lesser than shyam

##### Q2

In [35]:
# it is same as above example.

e = input()
r = input()

if len(e) > len(r):
    print(f"{e} is greater than {r}")
elif len(e) < len(r):
    print(f"{e} is lesser than  {r}")

abhishek
abhi
abhishek is greater than abhi

##### Q3

In [36]:
# making a programme to check the age with movie and criteria also.

a = int(input("enter the age:   "))
b = input("enter person have made booking:   ")

if a >= 18 and b == "yes":
    print("yes he/she has made booking")
else:
    print("no he/she has not made booking")

enter the age:   23
enter person have made booking:   yes
yes he/she has made booking

##### Q4

In [37]:
a = input()          # it is similar as above programme.
b = int(input())
if b >= 18:
    print("eligible to watch movie")
else:
    print("not eligible for movie")

abhishek
23
eligible to watch movie

##### q5

In [38]:
match_won = (input("true/false:   ")
run = int(input("enter the run:   "))

if match_won == "yes":
    if run >= 80:
        print("made the best score")
    else:
        print("team india is proude for winning")
else:
    print("loose the match")

SyntaxError: invalid syntax (<ipython-input-38-d09afc8d38e0>, line 2)

##### Q6

In [39]:
# here i have made a programme to check which value is greater than from other values.

a = input("A:  ")
s = input("S:  ")
d = input("D:  ")

if a > s and a > d:
    print("x is greater than s and d")
else:
    if s > d:
        print("s is greater than d and a")
    else:
        print("d is greater than s and a")

A:  4
S:  8
D:  1
s is greater than d and a

# list, tuple, set with range and "for loop with range"

In [87]:
del(list)       # the del list is most helpful it delete the whole list, set and tuple
                # if you feel any problem and get error.
                # then you can use it to remove old one and start with fresh.
                # so, what i got here i got error inn the list, tuple, set and etc
                # using this i can solve the range issue.
                # so, i did use some places where it is needed.

In [40]:
list = list(range(1,10))     # so, here i am defining the range and making list here.
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
type(list)

list

In [90]:
del(tuple)

In [42]:
tuple = tuple(range(1,20))     # by the using range method we can make any range.
print(tuple)                   # so, i am using tuple.

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [43]:
type(tuple)

tuple

In [94]:
del(set)

In [44]:
set(range(1,10))         # so, set is callable here.
                         # we can define it by range.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
for i in range(5):           # making a range of 5.
    print("python")          # using a loop because i want python 5times.

python
python
python
python
python

In [46]:
for i in range(10):                  # it is same as above.
    print("abhi","bhambak",23)

abhi bhambak 23
abhi bhambak 23
abhi bhambak 23
abhi bhambak 23
abhi bhambak 23
abhi bhambak 23
abhi bhambak 23
abhi bhambak 23
abhi bhambak 23
abhi bhambak 23

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
# so, here i have define the range 10 to 20
# with this interval is 3.
# so, we can use it for "for loop"

for i in range(10,20,3):
    print(i)

10
13
16
19

# questions

In [49]:
# so, here i am using loop with if and else condition to check odd and even no..

for i in range(4):
    if i%2 == 0:
        print(i,"even")
    else:
        print(i,"odd")
        
                                                # so, the thing is it will start with zero index.
                                                # and it will print odd and even if there.

0 even
1 odd
2 even
3 odd

# for loop with variable

In [50]:
import random

# so, it is taking random no. with range of 10.

l = [random.randint(10,100) for i in range(10)]
print(l)

[10, 55, 16, 54, 69, 13, 74, 19, 17, 83]

In [51]:
# so, i want square of no..

for i in l:
    if i%2 == 0:
        print(f"square of {i} is {i*i}")

square of 10 is 100
square of 16 is 256
square of 54 is 2916
square of 74 is 5476

# while loop condition

In [52]:
# using of while loop and making a programme.

n=0         # it will start with zero
while n!= 5:    # it should run until it is not equal to five.
    print(n)
    n+=1        # next step, is increment inthe last and go for next no. which is 1,2,3 and so on.

0
1
2
3
4

In [53]:
m = 2             # so, it is same as above.
while m!=10:      # but here i am using "m" variable
    print(m)
    m+=1

2
3
4
5
6
7
8
9

In [54]:
n = 10
while n!=20:
    print(n)
    n+=1

10
11
12
13
14
15
16
17
18
19

In [55]:
print(l)

[10, 55, 16, 54, 69, 13, 74, 19, 17, 83]

# if and elif questions

In [2]:
# so, here i have made a programme of guessing no..

import random    # importing random library


secret_no = random.randint(1,10)   # making random no. 


for i in range(3):                                                # using for loop for 3 occurance
    guess_no = int((input("enter any no. between 1 to 10:   ")))  # using conditions here.
    if secret_no == guess_no:
        print("yes you have great! brain.")
    elif secret_no > guess_no:
        print("guess higher no.")
    else:
        print("guesse less no.")

enter any no. between 1 to 10:   4
guess higher no.
enter any no. between 1 to 10:   6
guess higher no.
enter any no. between 1 to 10:   9
guesse less no.

In [2]:
# so, here i am using for loop and checking how break works.

for i in range(10):      # using for loop.
    if i == 6:           # here making condition of if i==6 then i need a break after that.
        break            # otherwise it will print (i).
    else:
        print(i)

0
1
2
3
4
5

In [5]:
# so, here i am checking how continue works with for loop.

for i in range(10):           # defining range 1 to 10.
    if i == 5:                # if i==5 and it will get continue. but 5 should not here.
        continue              # but it will continue till the end.
    else:
        print(i)              # otherwise it will print(i).

0
1
2
3
4
6
7
8
9

In [12]:
for i in range(5):    # using loop with condition 
    if i%6 == 0:      # if i is divisible by 6 and get output like 0. then it will print output
        continue      # otherwise it will not print.
    else:
        print(i)

1
2
3
4