In [1]:
import numpy as np

# functions

In [7]:
# variable name.

name = ["abhi","rampal","yogesh","kiran"]
age = [22,33,44,55]
country = ["india","pakistan","bngladesh","usa"]

In [8]:
# defining a function.

def student(age, country):    # def basically defining
    for i in age:             # using for loop because i want a loop in age and country.
        if i>25:              # then applied if condition because if is something present like that
            print(i)          # then it will give output.
    for i in country:
        if i == "pakistan":
            print(i)

In [10]:
student(age, country)

33
44
55
pakistan

#### Q1

In [20]:
def job(name,age):
    for i in name:
        if name == "abhi":
            print(i)
    for i in age:
        if i>44:
            print(i)

In [21]:
job(name, age)

TypeError: 'function' object is not iterable

In [22]:
def add(x,y):          # defining a function of add.
    return x+y

In [24]:
add(2,2)    # add

4

In [25]:
def subtract(x,y,z):     # definig a function of subtract.
    return x-y-z

In [26]:
subtract(2,3,4)     # subtract

-5

In [27]:
def multiplication(x,y,z):     # doing multipication, and function name is multiplication.
    return x*y*z

In [28]:
multiplication(2,2,2)       # multiplication

8

In [33]:
def divide(x,y):        # dividing but it is % modulse. it only give remainder.
    return x%y

In [34]:
divide(2,2)

0

In [35]:
def divide(x,y):      # dividing witth / divide symbol.
    return x/y

In [37]:
divide(2,2)         # so, it is giving the expacted divide resultt.

1.0

# functions with arguments

In [41]:
# making the function with nice argument.

def greeting(name):
    return f"welcome to the data science job {name}"
def salary(sal):
    return f"you can choice your better sallary {sal}"

In [54]:
greeting("abhishek")             # calling function name with. with entering the expected name.

'welcome to the data science job abhishek'

In [55]:
salary("1 lakh")

'you can choice your better sallary 1 lakh'

In [58]:
# applying loop it is correct but working 
for i in name:
    print(greeting(i))

TypeError: 'function' object is not iterable

In [65]:
# now i am making calculator

def calculator():
    ops = int(input("addition = 1 | subtract = 2 | divide = 3 | multiplication = 4"))
    x = eval(input("X:"  ))
    y = eval(input("Y:"  ))
    
    if ops == 1:
        return f"adding {x} and {y} is {x+y}"
    elif ops == 2:
        return f"subract {x} and {y} is {x-y}"
    elif ops == 3:
        return f"divide {x} and {y} is {x/y}"
    else:
        return f"multiplication {x} and {y} is {x*y}"

In [67]:
calculator()

addition = 1 | subtract = 2 | divide = 3 | multiplication = 42
X:3
Y:4

'subract 3 and 4 is -1'

In [69]:
# shift +tab
print("python programming", end = " -- ")     # end is basically ending "how i wanna end"
print("java")

python programming -- java

In [71]:
print("name", end=" --> ")
print("abhishek")

name --> abhishek

In [73]:
import math     # importing mmaths library
math.pi        # pi

3.141592653589793

# functions with multiplication argument

In [74]:
import random
import string

In [75]:
def greeting(*name):
    for i in name:
        print("welcome to the dinsney land",(i))

In [79]:
name = [string.ascii_uppercase[i] for i in range(10)]
name

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

#### Q1

In [80]:
import random
import string

In [83]:
def greeting(*name):
    for i in name:
        print("welcom abhishek your new house is ready",(i))

In [85]:
way = [string.ascii_uppercase[i] for i in range(15)]
way

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']

In [86]:
greeting('A','S','B','R')

welcom abhishek your new house is ready A
welcom abhishek your new house is ready S
welcom abhishek your new house is ready B
welcom abhishek your new house is ready R